venv
.idea/*
!.idea/misc.xml
!.idea/inspectionProfiles
.idea/inspectionProfiles/*
!.idea/inspectionProfiles/Project_Default.xml
config.json
tests.json
*.pyc
test.py
get_unipa.egg-info
docs/
build/
dist/
